<div id="election-actions-top" class="election-actions sticky-top">
  <div class="progress-container">
    {% set progress = metrics.totalRoundCount ? (100 * metrics.roundCount / metrics.totalRoundCount)|round(0) : 0 %}
    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">
      {% set tooltipContent = 
        ('election.stats.round.start'|trans({'n': metrics.roundCount})) ~  
        '<strong>'~ metrics.roundCount ~'</strong>' ~ 
        ('election.stats.round.middle'|trans({'n': metrics.roundCount})) ~
        '<strong>'~ metrics.totalRoundCount ~'</strong>' ~ 
        ('election.stats.round.end'|trans({'n': metrics.roundCount}))
      %}
      <div 
        class="progress-bar progress-bar-striped bg-{{ 'pick' == listType ? 'info' : 'warning' }}" 
        style="width: {{ progress }}%"
        data-bs-toggle="tooltip" 
        data-bs-html="true"
        data-bs-title="{{ tooltipContent }}"
      >
        {{ progress }}%
      </div>
    </div>
  </div>
</div>