{% import "common/Pokemon/_image_macros.html.twig" as imageMacros %}

<form action="" method="POST" id="election">
  <div class="row mt-xl-3 mt-1 ms-xl-5 me-xl-5 ms-md-3 me-md-3 ms-sm-1 me-sm-1">
  {% for item in pokemons %}
    <div class="col-xl-2 col-md-4 col-sm-6 col-6 mb-xl-3 mb-1 p-xl-3 p-lg-2 p-1">
      <div class="card election-card" id="card-{{ item.pokemon_slug }}">
        <div class="card-body position-relative">
          <div class="card-pokemon-images">
            <span class="election-card-image-container-{{ pokedex.dex.is_shiny ? 'shiny' : 'regular' }}">
              {% if pokedex.dex.is_shiny %}
              {{ imageMacros.shinyPokemonImage(item, locale) }}
              {% else %}
              {{ imageMacros.regularPokemonImage(item, locale) }}
              {% endif %}
            </span>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <strong>
                {% if pokedex.dex.is_display_form %}
                {{ locale is same as('fr') ? item.pokemon_french_name : item.pokemon_name }}
                {% else %}  
                {{ locale is same as('fr') ? item.pokemon_simplified_french_name : item.pokemon_simplified_name }}
                {% endif %}
              </strong>
            </li>
            <li class="list-group-item d-flex justify-content-start align-items-center">
              <span class="election-card-types election-card-type-primary pokemon-type-{{ item.primary_type_slug }} badge">
                {{ locale is same as('fr') ? item.primary_type_french_name : item.primary_type_name }}
              </span>
              
              {% if item.secondary_type_french_name is not null %}
              <span class="election-card-types election-card-type-secondary pokemon-type-{{ item.secondary_type_slug }} badge ms-2">
                {{ locale is same as('fr') ? item.secondary_type_french_name : item.secondary_type_name }}
              </span>
              {% endif %}
            </li>
          </ul>
          {% if not isTheLastOne %}
          <ul class="list-group list-group-flush mt-2">
            <li class="list-group-item text-center">
              <input type="checkbox" class="btn-check" name="winners_slugs[]" value="{{ item.pokemon_slug }}" id="vote-{{ item.pokemon_slug }}" autocomplete="off">
              <label class="btn btn-outline-primary" for="vote-{{ item.pokemon_slug }}">{{ 'election.choose.action'|trans }}</label>
              <input type="hidden" name="losers_slugs[]" value="{{ item.pokemon_slug }}" />
            </li>
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <input type="hidden" name="winners_slugs[]" value="" />
  <input type="hidden" name="losers_slugs[]" value="" />
</form>