{% import "common/Pokemon/_image_macros.html.twig" as imageMacros %}

<form action="" method="POST">
  <div class="row mt-3 ms-5 me-5">
  {% for item in pokemons %}
    <div class="col-xl-2 col-md-4 col-sm-6 mb-3">
      <div class="card" id="card-{{ item.pokemon_slug }}">
        <div class="card-body position-relative">
          <div class="card-pokemon-images">
            <span class="election-card-image-container-regular">
              {{ imageMacros.regularPokemonImage(item, locale) }}
            </span>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <strong>
                {{ locale is same as('fr') ? item.pokemon_french_name : item.pokemon_name }}
              </strong>
            </li>
            <li class="list-group-item d-flex justify-content-start align-items-center">
              <span class="election-card-types election-card-type-primary pokemon-type-{{ item.primary_type_slug }} badge">
                {{ locale is same as('fr') ? item.primary_type_french_name : item.primary_type_name }}
              </span>
              
              {% if item.secondary_type_french_name is not null %}
              <span class="election-card-types election-card-type-secondary pokemon-type-{{ item.secondary_type_slug }} badge ms-2">
                {{ locale is same as('fr') ? item.secondary_type_french_name : item.secondary_type_name }}
              </span>
              {% endif %}
            </li>
          </ul>
          <ul class="list-group list-group-flush mt-2">
            <li class="list-group-item text-center">
              <input type="checkbox" class="btn-check" name="winners_slugs[]" value="{{ item.pokemon_slug }}" id="vote-{{ item.pokemon_slug }}" autocomplete="off">
              <label class="btn btn-outline-primary" for="vote-{{ item.pokemon_slug }}">{{ 'election.choose.action'|trans }}</label>
              <input type="hidden" name="losers_slugs[]" value="{{ item.pokemon_slug }}" />
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</form>