{% set totalPokemon = pokedex.pokemons|length %}
<div id="election-stats" class="row mt-5 ms-5 me-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <div class="card shadow-sm">
        <div class="card-body">
          <h4 class="card-title mb-5">{{ 'election.stats.title'|trans }}</h4>
          <p class="card-text">
            {{ 'election.stats.vote_count.start'|trans }}
            <strong>{{ electionMetrics.count ?? 0 }}</strong>
            {{ 'election.stats.vote_count.end'|trans }}
          </p>
          <p class="card-text">
            {{ 'election.stats.pokemon_vote.start'|trans }}
            <strong>{{ electionMetrics.count ?? 0 }}</strong>
            {{ 'election.stats.pokemon_vote.middle'|trans }}
            <strong>{{ totalPokemon }}</strong>
            {{ 'election.stats.pokemon_vote.end'|trans }}
            <br>
            {% set progress = totalPokemon ? (100 * electionMetrics.count / totalPokemon)|round(0) : 0 %}
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped" style="width: {{ progress }}%">{{ progress }}%</div>
            </div>
          </p>
          <p class="card-text">
            {% if detachedCount %}
            {{ 'election.stats.favorite_count.start'|trans({'n': detachedCount}) }}
            <strong>{{ detachedCount }}</strong>
            {{ 'election.stats.favorite_count.end'|trans({'n': detachedCount}) }}
            {% else %}
            {{ 'election.stats.favorite_count.none'|trans({'n': detachedCount}) }}
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>