{% set locale = app.request.locale %}

{% extends 'base.html.twig' %}
{% use '_nav.html.twig' %}

{% block title %}Pokénini {{ 'title.election'|trans }}{% endblock title %}
{% block navbarTitle %}{% endblock navbarTitle %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/election.css') }}">

    <style>
    {% for type in types %}
    .pokemon-type-{{ type.slug }} {
        background-color: {{ type.color }};
    }
    {% endfor %}
    </style>
{% endblock stylesheets %}

{% block body %}
	<div class="container-fluid" id="main-container">
		<div class="row">
			<div class="col-md-8 mx-auto text-center row">
				<h1>{{ 'title.election'|trans }}</h1>
			</div>
		</div>
		{{ include('Election/_actions_top.html.twig') }}
		{{ include('Election/_candidates.html.twig') }}
		{{ include('Election/_actions_bottom.html.twig') }}
		{{ include('Election/_top.html.twig') }}
		{{ include('Election/_stats.html.twig') }}
	</div>
	{% block footer %}
		{{ include('_footer.html.twig') }}
	{% endblock footer %}
{% endblock body %}

{% block head_javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/election.js') }}"></script>
{% endblock head_javascripts %}

{% block foot_javascript %}
    {{ parent() }}

    <script type="application/javascript">
    (function() {
        watchCardClicking();
        watchWinnerCheckboxes();
        watchSubmitAction();
        watchCardMouseHover();
    })();
    </script>
{% endblock foot_javascript %}