{% import "Album/_album_macros.html.twig" as macro %}

{% set sharedTrainerId = app.request.get('t') %}

<div class="album-container album-box">
{% if filters is not empty %}
    <h2 class="sticky-top">{{ 'title.empty'|trans }}</h2>
    <div class="row row-cols-6 album-line">
        {% for item in list %}
            {{ macro.albumCase(item, dex, allowedToEdit, catchStates, sharedTrainerId, list, loop) }}
        {% endfor %}
    </div>
{% else %}
    <div id="box-1" class="box row">
        {{ macro.boxTitle(1) }}
        <div class="row row-cols-6 album-line">
            {% for item in list %}
            {% set boxNumber = (loop.index0 / (6*5)) + 1 %}

            {% if loop.index0 is not same as(0) and (loop.index0 % 6) is same as(0) and (loop.index0 % (6*5)) is not same as(0) %}
        </div>
        <div class="row row-cols-6 album-line mt-1 border-top">
            {% endif %}

            {% if (loop.index0) is not same as(0) and (loop.index0 % (6*5)) is same as(0) %}
        </div>
    </div>
    <hr>
    <div id="box-{{ boxNumber }}" class="box row">
        {{ macro.boxTitle(boxNumber) }}
        <div class="row row-cols-6 album-line">
            {% endif %}

            {{ macro.albumCase(item, dex, allowedToEdit, catchStates, sharedTrainerId, list, loop) }}

            {% endfor %}
        </div>
    </div>
{% endif %}
</div><!-- .album-container -->
