{% set locale = app.request.locale %}

{% import "Admin/_macros.html.twig" as admin %}

<h2>{{ 'title.admin_actions'|trans }}</h2>

<div class="row px-4 py-5">
  <h2 class="mb-3 pb-2 border-bottom">{{ 'admin.actions.update_data.title'|trans }}</h2>
  {% set updateDataItems = {
    'labels': 'tags-fill',
    'games_collections_and_dex': 'joystick',
    'pokemons': 'bug-fill',
    'regional_dex_numbers': 'globe-asia-australia',
  } %}
  {% for item, icon in updateDataItems %}
    {{ admin.action('update_data', 'update', item, icon, updatedItem, updatedAction, updatedState, actionLogsData) }}
  {% endfor %}
</div>

<div class="row px-4 py-5">
  <h2 class="mb-3 pb-2 border-bottom">{{ 'admin.actions.update_availabilities.title'|trans }}</h2>
  {% set updateAvailabilitiesItems = {
    'games_availabilities': 'box2',
    'games_shinies_availabilities': 'box2-fill',
    'collections_availabilities': 'collection-fill',
  } %}
  {% for item, icon in updateAvailabilitiesItems %}
    {{ admin.action('update_availabilities', 'update', item, icon, updatedItem, updatedAction, updatedState, actionLogsData) }}
  {% endfor %}
</div>

<div class="row px-4 py-5">
  <h2 class="mb-3 pb-2 border-bottom">{{ 'admin.actions.calculate_data.title'|trans }}</h2>
  {% set calculateDataItems = {
    'game_bundles_availabilities': 'box-seam',
    'game_bundles_shinies_availabilities': 'box-seam-fill',
    'dex_availabilities': 'list-check',
    'pokemon_availabilities': 'calculator',
  } %}
  {% for item, icon in calculateDataItems %}
    {{ admin.action('calculate_data', 'calculate', item, icon, updatedItem, updatedAction, updatedState, actionLogsData) }}
  {% endfor %}
</div>

<div class="row px-4 py-5">
  <h2 class="mb-3 pb-2 border-bottom">{{ 'admin.actions.invalidate_data.title'|trans }}</h2>
  {% set invalidateDataItems = {
    'labels': 'tags-fill',
    'dex': 'journals',
    'albums': 'journal-album',
  } %}
  {% for item, icon in invalidateDataItems %}
    {{ admin.action('invalidate_data', 'invalidate', item, icon, updatedItem, updatedAction, updatedState, actionLogsData) }}
  {% endfor %}
</div>
