{% macro action(
    action,
    item,
    icon,
    updatedItem,
    updatedAction,
    updatedState,
    actionLogsData
) %}
    {% set actionItem = action~'_'~item %}

    {% set stateColor = {
'ok': 'success',
'ko': 'danger',
'done': 'light',
'pending': 'info',
} %}
    {% set currentActionLog = null %}
    {% set lastActionLog = null %}
    
    {% if actionLogsData[actionItem] is defined and actionLogsData[actionItem] is not empty
        and actionLogsData[actionItem].current is defined and actionLogsData[actionItem].current is not empty
    %}
        {% set currentActionLog = actionLogsData[actionItem].current %}
    {% endif %}
    
    {% if actionLogsData[actionItem] is defined and actionLogsData[actionItem] is not empty
        and actionLogsData[actionItem].last is defined and actionLogsData[actionItem].last is not empty
    %}
        {% set lastActionLog = actionLogsData[actionItem].last %}
    {% endif %}

    {% if currentActionLog is null %}
        {% set currentListGroupItem = 'light' %}
    {% elseif currentActionLog.errorTrace is not empty %}
        {% set currentListGroupItem = stateColor['ko'] %}
    {% elseif currentActionLog.doneAt is not empty %}
        {% set currentListGroupItem = stateColor['done'] %}
    {% elseif currentActionLog.createdAt is not empty %}
        {% set currentListGroupItem = stateColor['pending'] %}
    {% endif %}
    {% if lastActionLog is null %}
        {% set lastListGroupItem = 'light' %}
    {% elseif lastActionLog.errorTrace is not empty %}
        {% set lastListGroupItem = stateColor['ko'] %}
    {% elseif lastActionLog.doneAt is not empty %}
        {% set lastListGroupItem = stateColor['done'] %}
    {% elseif lastActionLog.createdAt is not empty %}
        {% set lastListGroupItem = stateColor['pending'] %}
    {% endif %}

    {% if updatedAction is same as(action)
        and updatedItem is same as(item)
    %}
        {% set currentListGroupItem = stateColor[updatedState] %}
    {% endif %}

    <div 
        class="admin-item admin-item-{{ actionItem }} list-group-item list-group-item-action list-group-item-{{ currentListGroupItem }}"
        data-current-list-group-item="{{ currentListGroupItem }}"
        data-last-list-group-item="{{ lastListGroupItem }}"
    >
        {{ _self.actionTitle(action, item, icon) }}

        {{ _self.actionFlashError(action, item, updatedItem, updatedAction, updatedState) }}
        
        {{ _self.actionContainer(action, item, currentActionLog, lastActionLog) }}
    </div>
{% endmacro %}

{% macro actionTitle (
    action,
    item,
    icon,
) %}
<a
    class="admin-item-cta d-flex w-100 justify-content-between align-items-center"
    href="{{ path('app_web_adminaction_'~action, {'name': item}) }}"
>
    {{ ('title.'~action~'.'~item)|trans }}

    <i class="text-primary bi bi-{{ icon }}"></i>
</a>
{% endmacro %}

{% macro actionFlashError(
    action,
    item,
    updatedItem,
    updatedAction,
    updatedState,
) %}
{% if 'ko' == updatedState
    and updatedAction is same as(action)
    and updatedItem is same as(item)
%}
{% for message in app.flashes('error') %}
<div class="flash-danger alert alert-danger">
    {{ message|trans }}
</div>
{% endfor %}
{% endif %}
{% endmacro %}

{% macro actionContainer(
    action,
    item,
    currentActionLog,
    lastActionLog,
) %}
{% set actionItem = action~'_'~item %}
{% if currentActionLog is null %}
    {% set state = 'default' %}
{% elseif currentActionLog.errorTrace is not empty %}
    {% set state = 'error' %}
{% elseif currentActionLog.doneAt is not empty %}
    {% set state = 'done' %}
{% elseif currentActionLog.createdAt is not empty %}
    {% set state = 'pending' %}
{% endif %}

{% if currentActionLog is not empty %}
    <div class="admin-item-current">
        {% if lastActionLog is not null %}
        {{ _self.toggleActions('last') }}
        {% endif %}
        {{ _self.actionDetail(action, currentActionLog, lastActionLog) }}
    </div>

    {% if lastActionLog is not null %}
    <div class="admin-item-last" hidden>
        {% if currentActionLog is not null %}
        {{ _self.toggleActions('current') }}
        {% endif %} 
        {{ _self.actionDetail(action, lastActionLog, currentActionLog) }}
    </div>
    {% endif %}

{% endif %}
{% endmacro %}

{% macro actionDetail(
    action,
    actionData,
    otherActionData
) %}
<div class="row justify-content-start ms-3">
    {% if actionData.errorTrace is not empty %}
    <div class="alert alert-danger">
        {{ actionData.errorTrace }}
    </div>
    {% endif %}
    
    {% if actionData.details is not empty %}
    <dl class="col-10 row admin-item-report mt-1 mb-3">
        {% for slug, value in actionData.details %}
        <dt class="col-6">
            {{ ('admin.'~action~'.'~slug)|trans }}
        </dt>
        <dd class="col-6 text-end mb-0">
            {{ value|number_format(0, '.', ' ') }}
        </d>
        {% endfor %}
    </dl>
    {% endif %}

    <div class="col-12 row admin-item-report-meta admin-item-report-date mt-1 mb-0 text-muted">
        {% set date = 'created_at' %}
        {% set dateValue = actionData.createdAt %}
        {% if actionData.doneAt is not empty %}
        {% set date = 'done_at' %}
        {% set dateValue = actionData.doneAt %}
        {% endif %}

        <strong class="col-6">
            {{ ('admin.action.'~date)|trans }}
        </strong>
        <em class="col-6 text-start mb-0">
            {{ dateValue|date('d/m/Y H:i:s', 'Europe/Paris') }}
        </em>
    </div>
    
    {% if actionData.executionTime is defined and actionData.executionTime is not null %}
    <div class="col-12 row admin-item-report-meta admin-item-report-execution mt-1 mb-0 text-muted">
        <strong class="col-6">
            {{ ('admin.action.execution_time')|trans }}
        </strong>
        <em class="col-6 text-start mb-0">
            {{ (actionData.executionTime)|date('H:i:s') }}
        </em>
    </div>
    {% endif %}

    {% if actionData.doneAt is empty and actionData.createdAt is not empty
        and otherActionData is not null 
        and otherActionData.doneAt is not empty and otherActionData.executionTime is not empty
    %}
    {{ _self.progress(actionData, otherActionData) }}
    {% endif %}
</div>
{% endmacro %}

{% macro toggleActions(type) %}
<a 
    class="admin-item-toggle float-end link-body-emphasis link-opacity-50-hover" 
    title="{{ ('admin.toggle.'~type)|trans }}"
    href="#" role="button"
>
    {% if 'last' == type %}
    <i class="bi bi-chevron-right"></i>
    {% else %} 
    <i class="bi bi-chevron-bar-left"></i>
    {% endif %} 
</a>
{% endmacro %}

{% macro progress(actionData, otherActionData) %}
{% set timeDiff = actionData.createdAt.diff(date('now')) %}
{% set elapsedSeconds = timeDiff.days * 86400 + timeDiff.h * 3600 + timeDiff.i * 60 + timeDiff.s %}
{% set elapsedPercent = otherActionData.executionTime ? elapsedSeconds * 100 / otherActionData.executionTime : 0 %}
{% set progressColor = 'bg-light' %}
{% if 20 > elapsedPercent%}
{% set progressColor = 'bg-info' %}
{% elseif 90 > elapsedPercent %}
{% set progressColor = 'bg-warning' %}
{% elseif 100 < elapsedPercent %}
{% set progressColor = 'bg-danger' %}
{% endif %}

<div 
    class="progress" 
    role="progressbar" 
    aria-valuenow="{{ elapsedSeconds }}" 
    aria-valuemin="0" 
    aria-valuemax="{{ otherActionData.executionTime }}"
>
    <div 
        class="progress-bar progress-bar-striped progress-bar-animated {{ progressColor }}" 
        style="width: {{ elapsedPercent|round }}%"
        title="{{ elapsedPercent|round }}%"
    >
        {{ elapsedPercent|round }}%
    </div>
</div>
{% endmacro %}