{% set attributes = [
    'is_private',
    'is_on_home',
] %}
{% set attributesIcons = {
    'is_private': 'incognito',
    'is_on_home': 'house-check',
} %}
<h2>{{ ('trainer.dex.title')|trans }}</h2>
<div class="card mb-5">
    <div class="card-header row">
        {{ include('Trainer/Section/_dex_filters.html.twig') }}
    </div>
    <div class="card-body">
        <div class="row">
            {% for dex in trainerDex %}
            <div
                class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 mb-sm-3 trainer-dex-item border rounded border-opacity-50 position-relative"
                id="trainer-dex-{{ dex.slug }}"
            >
                <div class="position-absolute top-0 end-0 me-2">
                    {% if dex.is_shiny %}
                    <span class="dex_is_shiny badge text-bg-warning" data-bs-toggle="tooltip" data-bs-title="{{ ('trainer.dex.attributes.is_shiny.label')|trans }}">
                        <i class="bi bi-stars"></i>
                    </span>
                    {% endif %}
                    {% if dex.is_premium %}
                    <span class="dex_is_premium badge text-bg-success" data-bs-toggle="tooltip" data-bs-title="{{ ('trainer.dex.attributes.is_premium.label')|trans }}">
                        <i class="bi bi-patch-plus"></i>
                    </span>
                    {% endif %}
                    {% if not dex.is_released %}
                    <span class="dex_not_is_released badge text-bg-danger" data-bs-toggle="tooltip" data-bs-title="{{ ('trainer.dex.attributes.not.is_released.label')|trans }}">
                        <i class="bi bi-lock"></i>
                    </span>
                    {% endif %}
                    {% if dex.is_custom %}
                    <span class="dex_is_custom badge text-bg-info" data-bs-toggle="tooltip" data-bs-title="{{ ('trainer.dex.attributes.is_custom.label')|trans }}">
                        <i class="bi bi-person"></i>
                    </span>
                    {% endif %}
                </div>

                {% set bannerUrl = dexBannerUrl|format(dex.slug) %}
                <img
                    src="{{ bannerUrl }}"
                    class="img-fluid"
                    alt=""
                    loading="lazy"
                    onerror="this.onerror=null;this.src='{{ defaultBannerUrl }}';"
                >
                <a
                    class="float-end btn btn-light btn-sm"
                    href="{{ path('app_web_albumindex_index', {'dexSlug': dex.slug}) }}"
                    title="{{ 'trainer.dex.see'|trans }}"
                >
                    <i class="bi bi-eye-fill"></i>
                    {{ 'trainer.dex.see'|trans }}
                </a>
                <h5>
                    {{ locale is same as('fr') ? dex.french_name : dex.name }}
                </h5>
                <hr>
                <form data-dex="{{ dex.slug }}">
                    {% for attribute in attributes %}
                    <div class="form-check form-switch">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            name="{{ dex.slug }}-{{ attribute }}"
                            id="{{ dex.slug }}-{{ attribute }}"
                            {{ dex[attribute] ? 'checked' : '' }}
                        >
                        <label class="form-check-label" for="{{ dex.slug }}-{{ attribute }}">
                            <i class="bi bi-{{ attributesIcons[attribute] }}"></i>
                            {{ ('trainer.dex.attributes.'~attribute~'.label')|trans }}
                        </label>
                        <p class="form-text">
                            {{ ('trainer.dex.attributes.'~attribute~'.help')|trans }}
                        </p>
                    </div>
                    {% endfor %}
                </form>
            </div>
            {% endfor %}

            <div class="toast-container position-fixed bottom-0 mb-5 end-0 p-3">
                {% for dex in trainerDex %}
                    {% set dexName = locale is same as('fr') ? dex.french_name : dex.name %}
                    <div id="successToast-{{ dex.slug }}" class="toast text-bg-success" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="d-flex">
                            <div class="toast-body">
                                {{ 'trainer.dex.update.success.prefix'|trans }}
                                <strong>{{ 'trainer.dex.update.success.radical'|trans({'%dexName%': dexName}) }}</strong>
                                {{ 'trainer.dex.update.success.suffix'|trans }}
                            </div>
                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>

                    <div id="errorToast-{{ dex.slug }}" class="toast text-bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="d-flex">
                            <div class="toast-body">
                                {{ 'trainer.dex.update.error.prefix'|trans }}
                                <strong>{{ 'trainer.dex.update.error.radical'|trans({'%dexName%': dexName}) }}</strong>
                                {{ 'trainer.dex.update.error.suffix'|trans }}
                            </div>
                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>