{% set catchState = app.request.get('cs') %}

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas">
  <div class="offcanvas-body">
    <div class="float-end">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <form 
        class="mt-3 mb-3"
        method="get" 
        action="{{ path('app_web_albumindex_index', {'dexSlug': currentDexSlug}) }}"
    >
        <h6>
            {{ 'album.offcanvas.filters.title'|trans }}
        </h6>
        <div class="row mb-3">
            <div class="col-6">
                <label for="any_type" class="form-label">
                    <i class="bi bi-subtract"></i>
                    {{ 'album.offcanvas.filters.any_type.label'|trans }}
                </label>
                <a  
                    class="small float-end" 
                    href="#"
                    data-bs-toggle="collapse" 
                    data-bs-target="#distinguishTypes"
                >
                    {{ 'album.offcanvas.filters.open_distinguish_types'|trans }}
                </a>
                {% set filteredAnyTypes = app.request.get('at', []) %}
                <select multiple id="any_type" name="at[]" class="form-select form-select-sm">
                    <option value="" {{ ((filteredAnyTypes|filter(v => v) is empty) ? 'selected': '') }}>
                        {{- 'album.offcanvas.filters.any_type.value.empty'|trans -}}
                    </option>
                    {% for type in types %}
                    <option value="{{ type.slug }}" {{ ((type.slug in filteredAnyTypes) ? 'selected': '') }}>
                        {{- (locale is same as('fr') ? type.frenchName : type.name) -}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row mb-3 collapse" id="distinguishTypes">
            <div class="col-6">
                <label for="primary_type" class="form-label">
                    <i class="bi bi-trophy"></i>
                    {{ 'album.offcanvas.filters.primary_type.label'|trans }}
                </label>
                {% set filteredPrimaryTypes = app.request.get('t1', []) %}
                <select multiple id="primary_type" name="t1[]" class="form-select form-select-sm">
                    <option value="" {{ ((filteredPrimaryTypes|filter(v => v) is empty) ? 'selected': '') }}>
                        {{- 'album.offcanvas.filters.primary_type.value.empty'|trans -}}
                    </option>
                    {% for type in types %}
                    <option value="{{ type.slug }}" {{ ((type.slug in filteredPrimaryTypes) ? 'selected': '') }}>
                        {{- (locale is same as('fr') ? type.frenchName : type.name) -}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-6">
                <label for="secondary_type" class="form-label">
                    <i class="bi bi-award"></i>
                    {{ 'album.offcanvas.filters.secondary_type.label'|trans }}
                </label>
                {% set filteredSecondaryTypes = app.request.get('t2', []) %}
                <select multiple id="secondary_type" name="t2[]" class="form-select form-select-sm">
                    <option value="" {{ ((filteredSecondaryTypes|filter(v => v) is empty) ? 'selected': '') }}>
                        {{- 'album.offcanvas.filters.secondary_type.value.empty'|trans -}}
                    </option>
                    <option value="null" {{ (('null' in filteredSecondaryTypes) ? 'selected': '') }}>
                        {{- 'album.offcanvas.filters.secondary_type.value.null'|trans -}}
                    </option>
                    {% for type in types %}
                    <option value="{{ type.slug }}" {{ ((type.slug in filteredSecondaryTypes) ? 'selected': '') }}>
                        {{- (locale is same as('fr') ? type.frenchName : type.name) -}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <label for="category_form" class="form-label">
                    <i class="bi bi-tag"></i>
                    {{ 'album.offcanvas.filters.category_form.label'|trans }}
                </label>
                {% set filteredCategoryForms = app.request.get('fc', []) %}
                <select multiple id="category_form" name="fc[]" class="form-select form-select-sm">
                    <option value="" {{ ((filteredCategoryForms|filter(v => v) is empty) ? 'selected': '') }}>
                        {{- 'album.offcanvas.filters.category_form.value.empty'|trans -}}
                    </option>
                    <option value="null" {{ (('null' in filteredCategoryForms) ? 'selected': '') }}>
                        {{- 'album.offcanvas.filters.category_form.value.null'|trans -}}
                    </option>
                    {% for form in categoryForms %}
                    <option value="{{ form.slug }}" {{ ((form.slug in filteredCategoryForms) ? 'selected': '') }}>
                        {{- (locale is same as('fr') ? form.frenchName :  form.name) -}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-6">
                <label for="regional_form" class="form-label">
                    <i class="bi bi-globe"></i>
                    {{ 'album.offcanvas.filters.regional_form.label'|trans }}
                </label>
                {% set filteredRegionalForms = app.request.get('fr', []) %}
                <select multiple id="regional_form" name="fr[]" class="form-select form-select-sm">
                    <option value="" {{ ((filteredRegionalForms|filter(v => v) is empty) ? 'selected': '') }}>
                        {{- 'album.offcanvas.filters.regional_form.value.empty'|trans -}}
                    </option>
                    <option value="null" {{ (('null' in filteredRegionalForms) ? 'selected': '') }}>
                        {{- 'album.offcanvas.filters.regional_form.value.null'|trans -}}
                    </option>
                    {% for form in regionalForms %}
                    <option value="{{ form.slug }}" {{ ((form.slug in filteredRegionalForms) ? 'selected': '') }}>
                        {{- (locale is same as('fr') ? form.frenchName : form.name) -}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <label for="special_form" class="form-label">
                    <i class="bi bi-gem"></i>
                    {{ 'album.offcanvas.filters.special_form.label'|trans }}
                </label>
                {% set filteredSpecialForms = app.request.get('fs', []) %}
                <select multiple id="special_form" name="fs[]" class="form-select form-select-sm">
                    <option value="" {{ ((filteredSpecialForms|filter(v => v) is empty) ? 'selected': '') }}>
                        {{- 'album.offcanvas.filters.special_form.value.empty'|trans -}}
                    </option>
                    <option value="null" {{ (('null' in filteredSpecialForms) ? 'selected': '') }}>
                        {{- 'album.offcanvas.filters.special_form.value.null'|trans -}}
                    </option>
                    {% for form in specialForms %}
                    <option value="{{ form.slug }}" {{ ((form.slug in filteredSpecialForms) ? 'selected': '') }}>
                        {{- (locale is same as('fr') ? form.frenchName : form.name) -}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-6">
                <label for="variant_form" class="form-label">
                    <i class="bi bi-shuffle"></i>
                    {{ 'album.offcanvas.filters.variant_form.label'|trans }}
                </label>
                {% set filteredVariantForms = app.request.get('fv', []) %}
                <select multiple id="variant_form" name="fv[]" class="form-select form-select-sm">
                    <option value="" {{ ((filteredVariantForms|filter(v => v) is empty) ? 'selected': '') }}>
                        {{- 'album.offcanvas.filters.variant_form.value.empty'|trans -}}
                    </option>
                    <option value="null" {{ (('null' in filteredVariantForms) ? 'selected': '') }}>
                        {{- 'album.offcanvas.filters.variant_form.value.null'|trans -}}
                    </option>
                    {% for form in variantForms %}
                    <option value="{{ form.slug }}" {{ ((form.slug in filteredVariantForms) ? 'selected': '') }}>
                        {{- (locale is same as('fr') ? form.frenchName : form.name) -}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <label for="original_game_bundle" class="form-label">
                    <i class="bi bi-box"></i>
                    {{ 'album.offcanvas.filters.original_game_bundle.label'|trans }}
                </label>
                {% set filteredOriginalGameBundles = app.request.get('ogb', []) %}
                <select multiple id="original_game_bundle" name="ogb[]" class="form-select form-select-sm">
                    <option value="" {{ ((filteredOriginalGameBundles|filter(v => v) is empty) ? 'selected': '') }}>
                        {{- 'album.offcanvas.filters.original_game_bundle.value.empty'|trans -}}
                    </option>
                    {% for gameBundle in gameBundles %}
                    <option value="{{ gameBundle.slug }}" {{ ((gameBundle.slug in filteredOriginalGameBundles) ? 'selected': '') }}>
                        {{- (locale is same as('fr') ? gameBundle.frenchName : gameBundle.name) -}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            {% if not dex.is_shiny %}
            <div class="col-6">
                <label for="game_bundle_availability" class="form-label">
                    <i class="bi bi-box2"></i>
                    {{ 'album.offcanvas.filters.game_bundle_availability.label'|trans }}
                </label>
                {% set filteredGameBundlesAvailabilities = app.request.get('gba', []) %}
                <select multiple id="game_bundle_availability" name="gba[]" class="form-select form-select-sm">
                    <option value="" {{ ((filteredGameBundlesAvailabilities|filter(v => v) is empty) ? 'selected': '') }}>
                        {{- 'album.offcanvas.filters.game_bundle_availability.value.empty'|trans -}}
                    </option>
                    {% for gameBundle in gameBundles %}
                    <option value="{{ gameBundle.slug }}" {{ ((gameBundle.slug in filteredGameBundlesAvailabilities) ? 'selected': '') }}>
                        {{- (locale is same as('fr') ? gameBundle.frenchName : gameBundle.name) -}}
                    </option>
                    {% endfor %}
                    {% for gameBundle in gameBundles %}
                    <option value="!{{ gameBundle.slug }}" {{ (('!'~gameBundle.slug in filteredGameBundlesAvailabilities) ? 'selected': '') }}>
                        {{- 'album.offcanvas.filters.game_bundle_availability.value.negative'|trans -}}
                        {{- (locale is same as('fr') ? gameBundle.frenchName : gameBundle.name) -}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            {% else %}
            <div class="col-6">
                <label for="game_bundle_shiny_availability" class="form-label">
                    <i class="bi bi-box2"></i>
                    {{ 'album.offcanvas.filters.game_bundle_shiny_availability.label'|trans }}
                </label>
                {% set filteredGameBundlesShinyAvailabilities = app.request.get('gbsa', []) %}
                <select multiple id="game_bundle_shiny_availability" name="gbsa[]" class="form-select form-select-sm">
                    <option value="" {{ ((filteredGameBundlesShinyAvailabilities|filter(v => v) is empty) ? 'selected': '') }}>
                        {{- 'album.offcanvas.filters.game_bundle_shiny_availability.value.empty'|trans -}}
                    </option>
                    {% for gameBundle in gameBundles %}
                    <option value="{{ gameBundle.slug }}" {{ ((gameBundle.slug in filteredGameBundlesShinyAvailabilities) ? 'selected': '') }}>
                        {{- (locale is same as('fr') ? gameBundle.frenchName : gameBundle.name) -}}
                    </option>
                    {% endfor %}
                    {% for gameBundle in gameBundles %}
                    <option value="!{{ gameBundle.slug }}" {{ (('!'~gameBundle.slug in filteredGameBundlesShinyAvailabilities) ? 'selected': '') }}>
                        {{- 'album.offcanvas.filters.game_bundle_shiny_availability.value.negative'|trans -}}
                        {{- (locale is same as('fr') ? gameBundle.frenchName : gameBundle.name) -}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <label for="collection" class="form-label">
                    <i class="bi bi-collection"></i>
                    {{ 'album.offcanvas.filters.collection.label'|trans }}
                </label>
                {% set filteredCollections = app.request.get('ca', []) %}
                <select multiple id="collection_availability" name="ca[]" class="form-select form-select-sm">
                    <option value="" {{ ((filteredCollections|filter(v => v) is empty) ? 'selected': '') }}>
                        {{- 'album.offcanvas.filters.collection.value.empty'|trans -}}
                    </option>
                    {% for collection in collections %}
                    <option value="{{ collection.slug }}" {{ ((collection.slug in filteredCollections) ? 'selected': '') }}>
                        {{- (locale is same as('fr') ? collection.frenchName : collection.name) -}}
                    </option>
                    {% endfor %}
                    {% for collection in collections %}
                    <option value="!{{ collection.slug }}" {{ (('!'~collection.slug in filteredCollections) ? 'selected': '') }}>
                        {{- 'album.offcanvas.filters.collection.value.negative'|trans -}}
                        {{- (locale is same as('fr') ? collection.frenchName : collection.name) -}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div hidden>
            <input type="text" name="t" value="{{ queryTrainerId }}">
            <input type="text" name="cs" value="{{ catchState }}">
        </div>
        <div class="mb-3 d-flex justify-content-between">
                <a 
                    href="{{ path(
                        'app_web_albumindex_index', 
                        {
                            'dexSlug': currentDexSlug, 
                            't': ((queryTrainerId is not empty) ? queryTrainerId : null)
                        }
                    ) }}" 
                    class="form-filter-reset btn btn-outline-warning btn-sm"
                >
                    {{ 'album.offcanvas.filters.reset.label'|trans }}
                </a>
                <button type="submit" class="btn btn-outline-primary btn-sm">
                    {{ 'album.offcanvas.filters.submit.label'|trans }}
                </button>
        </div>
    </form>

    <div> 
        <h6>
            {{ 'album.offcanvas.informations.title'|trans }}
        </h6>

        <ul class="list-group list-group-horizontal group-icons">
            {# Is private icon #}
            {% if dex.is_private %}
                <li
                    class="list-group-item flex-fill album-private"
                    href="#"
                    title="{{ 'nav.is_private'|trans }}"
                    data-bs-toggle="tooltip"
                >
                    <i class="bi bi-lock"></i>
                </li>
            {% endif %}

            {# Text for another trainer #}
            {% if loggedTrainerId is not same as(trainerId) %}
                <li
                    class="list-group-item flex-fill album-another-trainer"
                    href="#"
                    title="{{ 'album.intro.label.another_trainer_album'|trans }}"
                    data-bs-toggle="tooltip"
                >
                    
                    <i class="bi bi-person-rolodex another-trainer-album"></i>
                </li>
            {% endif %}

            {# Region name or national #}
            {% if dex.region_name is not empty %}
            <li
                class="list-group-item flex-fill dex-type dex-type-regional"
                href="#"
                title="{{ 'album.intro.label.region'|trans }} {{ locale is same as('fr') ? dex.region_french_name : dex.region_name }}"
                data-bs-toggle="tooltip"
            >
                {{ locale is same as('fr') ? dex.region_french_name : dex.region_name }}
            </li>
            {% else %}
            <li
                class="list-group-item flex-fill dex-type dex-type-national"
                href="#"
                title="{{ 'album.intro.label.dex'|trans }} {{ 'album.intro.value.national'|trans }}"
                data-bs-toggle="tooltip"
            >
            {{ 'album.intro.value.national'|trans }}
            </li>
            {% endif %}

            {# Shiny or not #}
            <li
                class="list-group-item flex-fill dex-shiny-or-not"
                href="#"
                title="{{ (dex.is_shiny ? 'album.intro.label.is_shiny.yes' : 'album.intro.label.is_shiny.no')|trans }}"
                data-bs-toggle="tooltip"
            >
                {% if dex.is_shiny %}
                <i class="bi bi-stars"></i>
                {% else %}
                <i class="bi bi-bug"></i>
                {% endif %}
            </li>
        </ul>

        {# Description #}
        <p id="album-description" class="small">
            {{- (locale is same as('fr') ? dex.french_description : dex.description)|nl2br -}}
        </p>
        {# Template text #}
        <p class="dex-template small fst-italic">
            {{- ('album.intro.label.display_template.'~displayTemplateName)|trans -}}
        </p>

        {# Version #}
        <p class="text-end small fst-italic text-body-tertiary dex-version">
            <i class="bi bi-tag"></i> 
            {{- 'album.intro.label.version'|trans }} {{ dex.version -}}
        </p>
    </div>
  </div>
</div>