{% block nav %}

{% set currentRoute = app.request.get('_route') %}
{% set currentRouteParameters = app.request.get('_route_params') ?? [] %}
{% set locale = app.request.locale %}
{% set sharedTrainerId = app.request.get('t') %}

<nav class="navbar fixed-bottom navbar-expand-sm bg-light">
    <div class="container-fluid">
        <a
            class="navbar-brand navbar-logo"
            href="{{ path('app_web_home_index', {'_locale': locale}) }}"
        >
            <img src="/img/logo/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top" loading="lazy">
        </a>
        <a
            class="navbar-brand navbar-link"
            href="{% block navbarTitleLink %}{{ path('app_web_home_index', {'_locale': locale}) }}{% endblock navbarTitleLink %}"
        >                
            {% block navbarTitle %}
            {{ 'nav.back_home'|trans }}
            {% endblock navbarTitle %}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item trainer-link">
                    {% if is_granted("ROLE_TRAINER") %}
                    <a class="nav-link" href="{{ path('app_web_trainerindex_index') }}">
                        <i class="bi bi-person-badge"></i>
                        {{ 'title.trainer'|trans }}
                    </a>
                    {% else %}
                    <a class="nav-link" href="{{ path('app_web_connect_index') }}">
                        <i class="bi bi-person"></i>
                        {{ 'nav.login'|trans }}
                    </a>
                    {% endif %}
                </li>
                <li class="nav-item lang-switch">
                    {% set langTarget = locale == 'fr' ? 'en' : 'fr' %}
                    {% set routeParameters = currentRouteParameters|merge({
                        '_locale': langTarget
                    }) %}
                    {% if sharedTrainerId is defined %}
                        {% set routeParameters = routeParameters|merge({
                        't': sharedTrainerId
                    }) %}
                    {% endif %}
                    <a
                        class="nav-link"
                        href="{{ currentRoute
                            ? path(currentRoute, routeParameters)
                            : app.request.requesturi|replace({'/fr/': '/en/', '/en/': '/fr/'}) }}"
                    >
                        <i class="bi bi-translate"></i>
                        {{ ('nav.lang.'~langTarget)|trans([], 'messages', langTarget) }}
                    </a>
                </li>
                {% if is_granted("ROLE_ADMIN") %}
                <li class="nav-item admin-link">
                    <a
                        class="nav-link {{ 'app_web_admin_index' == currentRoute ? ' active' : '' }}"
                        aria-current="page"
                        href="{{ path('app_web_admin_index') }}"
                    >
                        <i class="bi bi-wrench-adjustable-circle"></i>
                        {{ 'nav.admin'|trans }}
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock nav %}
